alembic
annotated-types
anyio
fastapi
greenlet
idna
Mako
MarkupSafe
psycopg2
pydantic
pydantic_core
setuptools==80.9.0
sniffio
SQLAlchemy
starlette
typing-inspection
typing_extensions
wheel==0.45.1
python-dotenv
uvicorn
asyncpg
email-validator>=2.0.0